.user-details {
    border: 1px solid #545454;
    border-radius: 5px;
    max-width: 70%;
    height: 200px;
    margin: auto;
    box-sizing: border-box;
  }
  
  .avatar-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 20px 20px 40px 0px;
    border-radius: 50%;
    border: 1px solid #545454;
  }

  #avatar {
    height: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
    object-fit: cover;
    align-content: center;
  }
  
  #edit {
    margin: 30px;
  }


  .userInfo {
    width: 70%;
    margin: 20px;
    display: table; 
    height: 150px; 
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

