/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.container {
  width: 100vw;
  margin: auto;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin:0;
}

.table-container {
  display: table; 
}

/* .userInfo {
  width: 70%;
  margin: 20px;
  display: table; 
  height: 150px; 
} */

.cell {
  display: table-cell;
  vertical-align: middle;
}