html {
    max-height: 2500px;
}

body {
    background-color: #eaebee;
    width: 100%;
    min-width: 1200px;
}

#root {
    min-width: 100%;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    #root {
        min-width: 100%;
  }
}